* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background-color: #F8FAE5;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Comic Sans';
    color: white;
}

.menu {
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: green;
    z-index: 1;
    border-bottom:1px solid #364f6b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}

.kolom-kirikanan {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: justify;
    width: 100%;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: gray;
    text-align: center;
    width: 100%;
}

.kolom-kirikanan .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: gray;
    text-align: justify;
    width: 100%;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: gray;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
}

a.tbl-pink {
    background: #fc5185;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: grey;
}

.tengah {
    text-align: center;
    width: 100%;
}

.kiri {
    text-align: left;
    width: 100%;
}

.kanan {
    text-align: right;
    width: 100%;
}

.kirikanan{
    text-align: justify;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}

.perangkat-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-perangkat {
    width: 100%;
    margin: 0 auto;
}

.gambar-dan-deskripsi {
    display: flex;
    align-items: center;
}

.gambar {
    max-width: 300px; 
    margin-right: 20px;
}

.kartu-perangkat img {
    max-width: 200px;
            height: auto;
            border: 1px solid #ddd; 
            padding: 5px; 
            border-radius: 5px;
            display: left;
}

.penjelasan{
    margin-top: 10px;
    flex-grow: 1;
}

.kartu-perangkat p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius: 50%;
}
.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

footer{
    background-color: black;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
font-size: 2em;
color: black;
opacity: 0.9;
}

.socialIcons a:hover{
    background-color: black;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: #FFFFFF;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: disc;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-tutor {
        width: 50%;
    }

    .kartu-partner {
        width: 50%;
    }

    .footerNav ul{
        flex-direction: column;
    }

    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

#colom{
width: 960px;
margin: auto 0;
}

.col1{
width: 300px;
float: left;
margin: 10px;
}

.col2{
    width: 450px;
    float: right;
    margin: 10px;
}